.get {
    display: flex;
    flex-direction: column;
    row-gap: 5rem;
    margin-bottom: 14rem;
}

.block {
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.9rem;
    margin-bottom: 5rem;
}

@media screen and (max-width: 768px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.6rem;
    }
}

@media screen and (max-width: 360px) {
    .grid {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 2rem;
    }
}